<!DOCTYPE html>
<html class="font-[Inter]" lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Create Amazon Cart Link</title>
    <link rel="canonical" href="https://sharecarts.com/create.html" />
    <meta
      name="description"
      content="Create your Amazon cart link. Share with friends, family, or co-workers in one click."
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
    </style>

    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-M2TZ6RBVLX"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-M2TZ6RBVLX");
    </script>
  </head>
  <body class="h-full w-full max-w-3xl mx-auto">
    <div class="min-h-[97vh] py-4 px-3">
      <header class="flex justify-between">
        <div class="flex gap-2">
          <img
            src="images/logo.png"
            width="60px"
            height="60px"
            alt="Share Carts on Amazon & More"
          />
          <div class="mt-3">
            <a
              class="text-lg font-semibold tracking-tight hover:opacity-80 leading-3"
              href="/"
              >Share Carts</a
            >
            <span class="text-xs block leading-3"
              >Share links to your shopping cart
            </span>
          </div>
        </div>
        <div class="mt-3 hidden sm:block">
          <!-- <a
            class="inline-flex h-10 items-center justify-center rounded-xl bg-gradient-to-r from-green-400 to-blue-500 px-6 text-sm font-medium text-white shadow transition-colors hover:from-green-500 hover:to-blue-600 focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-gray-950"
            href="https://chromewebstore.google.com/detail/bkcdmpcbhmafdmpekienmgfopacinonn"
            target="_blank"
            ><img
              alt="Chrome Extension"
              loading="lazy"
              width="24"
              height="24"
              class="mr-2"
              src="images/chrome.svg"
            />Add to Chrome</a
          > -->
        </div>
      </header>
      <div class="my-5 border-t"></div>
      <h1
        class="text-center font-semibold tracking-tight mt-5 text-xl sm:text-2xl sm:mt-10"
      >
        Share your
        <span class="underline decoration-amber-500">Amazon</span> cart with a
        link
      </h1>
      <p class="mt-5 text-sm sm:text-base">
        Share links to entire Amazon shopping carts — someone clicking your cart
        link can add all the items to their cart
        <span class="italic">at once</span>. Just enter the URL of each item,
        set your quantity, and share your link!
      </p>
      <p class="mt-2 text-sm font-light">
        <span class="underline uppercase text-red-500">New</span>: To share your
        <span class="italic">groceries</span>, switch the dropdown below to
        either Amazon Fresh or Whole Foods.
      </p>
      <div id="app">
        <h2
          class="mt-5 sm:mt-8 tracking-tight font-display font-bold text-xl sm:text-2xl text-stone-700 text-center"
        >
          🔗 Link To
        </h2>

        <select
          v-model="cart.type"
          :disabled="cart.products.length > 0"
          class="block mx-auto w-40 sm:w-60 text-sm sm:text-base mt-2 p-3 rounded text-center border border-stone-600 disabled:bg-stone-100"
        >
          <option value="Main">Amazon Cart</option>
          <option value="Fresh">Amazon Fresh</option>
          <option value="WF">Whole Foods</option>
        </select>
        <div
          class="bg-stone-50 p-5 rounded-2xl mt-3 shadow border border-stone-200"
        >
          <div
            v-if="errorMessage"
            class="text-red-500 font-medium text-sm text-center mb-2"
          >
            {{ errorMessage }}
          </div>
          <div
            v-else-if="cart.products.length > 0"
            class="text-sm text-center mb-2"
          >
            <span class="text-green-700">Cart updated!</span> Keep adding or get
            the share link below.
          </div>
          <div class="flex gap-2 justify-between">
            <div class="w-4/5">
              <input
                type="text"
                v-model.trim="newProduct"
                @keyup.enter="addProduct"
                :class="{ 'border-red-300': errorMessage, 'border-stone-300': !errorMessage}"
                placeholder="URL of item"
                class="h-10 w-full rounded border p-2 placeholder-stone-600 focus:outline-none"
              />
              <div class="mt-2">
                <label for="new-quantity" class="italic text-sm">Qty:</label>
                <select
                  v-model="newQuantity"
                  id="new-quantity"
                  class="text-sm w-10 ml-1 rounded text-center border border-stone-600"
                >
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
                  <option value="11">11</option>
                  <option value="12">12</option>
                  <option value="13">13</option>
                  <option value="14">14</option>
                  <option value="15">15</option>
                  <option value="16">16</option>
                  <option value="17">17</option>
                  <option value="18">18</option>
                  <option value="19">19</option>
                  <option value="20">20</option>
                </select>
              </div>
            </div>
            <button
              @click="addProduct"
              class="rounded-2xl bg-black text-white h-10 w-20 sm:w-40 text-sm hover:opacity-70"
            >
              Add Item
            </button>
          </div>

          <details v-if="cart.products.length > 0">
            <summary
              class="text-center text-base mt-5 text-stone-700 font-medium cursor-pointer hover:opacity-80"
            >
              Current Cart
              <span
                v-if="cart.products.length > 0"
                class="italic text-sm font-light"
                >({{ totalQuantity }} {{ totalQuantity == 1 ? 'item' : 'items'
                }})</span
              >
            </summary>
            <ul class="text-sm">
              <li
                v-for="(product, index) in cart.products"
                :key="index"
                class="mt-1"
              >
                <div class="truncate">
                  <span class="font-semibold">{{ index + 1 }}.</span>
                  <a
                    :href="productURL(index)"
                    target="_blank"
                    class="text-blue-700 ml-1 hover:opacity-80 truncate"
                    >{{ product.url }}</a
                  >
                </div>
                <span class="italic text-xs ml-3">Qty: </span>
                <span class="text-xs">{{ product.quantity}} - </span>
                <button
                  @click="removeProduct(index)"
                  class="text-xs font-light underline text-stone-500 hover:opacity-80"
                >
                  Remove
                </button>
              </li>
            </ul>
          </details>
        </div>
        <div v-if="cart.products.length > 0">
          <h2
            class="mt-8 tracking-tight font-display font-bold text-xl sm:text-2xl text-green-600 text-center"
          >
            🔗 Share Link!
          </h2>
          <div class="mt-2">
            <div
              @click="copyLink"
              ref="link"
              class="h-12 w-full overflow-clip overflow-y-auto break-words rounded-md border-2 bg-white pl-2 pr-2 pt-1 text-left shadow-lg dark:text-black cursor-pointer select-all border-stone-600"
              title="Copy Link"
            >
              {{ shareLink }}
            </div>
            <button
              @click="copyLink"
              :disabled="copiedLink"
              class="block font-semibold mx-auto rounded-2xl w-40 bg-black text-sm p-2 text-white mt-4 hover:opacity-80 disabled:opacity-50"
            >
              {{ copiedLink ? 'Copied!' : 'Copy Link' }}
            </button>
          </div>
        </div>
      </div>
      <p class="mt-4 text-[10px] font-light text-center text-stone-400">
        As an Amazon Associate I earn from qualifying purchases.
      </p>
    </div>
    <footer
      class="mt-10 pl-12 pr-20 pt-12 pb-8 rounded-xl bg-stone-100 flex flex-col gap-x-5 md:flex-row justify-between"
    >
      <div class="flex flex-col space-y-3">
        <a class="text-sm font-medium" href="/">Share Carts</a>
        <div>
          <p class="text-stone-600 tracking-tight text-xs">
            Share Carts may receive affiliate commissions for purchases made
            through links on this website
          </p>
          <p class="text-stone-600 tracking-tight text-xs mt-4">
            © 2025 Share Carts
          </p>
        </div>
      </div>
      <div>
        <div class="mx-auto md:flex gap-x-12">
          <div class="flex flex-col truncate">
            <p class="mb-1.5 text-sm font-medium tracking-tight">Resources</p>
            <a
              class="mb-0.5 w-max text-xs text-stone-700 hover:text-stone-800 hover:underline"
              href="/"
              >Home</a
            >
            <a
              class="mb-0.5 w-max text-xs text-stone-700 hover:text-stone-800 hover:underline"
              href="mailto:support@sharecarts.com"
              >Contact</a
            >
            <a
              class="mb-0.5 w-max text-xs text-stone-700 hover:text-stone-800 hover:underline"
              href="/privacy.html"
              >Privacy Policy</a
            >
          </div>
          <div class="flex flex-col truncate">
            <p class="mb-1.5 text-sm font-medium tracking-tight">Guides</p>
            <a
              class="mb-0.5 w-max text-xs text-stone-700 hover:text-stone-800 hover:underline"
              href="/how-to/share-amazon-cart.html"
              >How to Share Your Amazon Cart</a
            ><a
              class="mb-0.5 w-max text-xs text-stone-700 hover:text-stone-800 hover:underline"
              href="/how-to/share-amazon-fresh-cart.html"
              >How to Share Your Amazon Fresh Cart</a
            >
            <a
              class="mb-0.5 w-max text-xs text-stone-700 hover:text-stone-800 hover:underline"
              href="/how-to/share-amazon-whole-foods-cart.html"
              >How to Share Your Whole Foods Cart</a
            >
            <a
              class="mb-0.5 w-max text-xs text-stone-700 hover:text-stone-800 hover:underline"
              href="/how-to/share-amazon-haul-cart.html"
              >How to Share Your Amazon Haul Cart</a
            >
            <a
              class="mb-0.5 w-max text-xs text-stone-700 hover:text-stone-800 hover:underline"
              href="/how-to/export-amazon-cart.html"
              >How to Export Amazon Cart</a
            >
            <a
              class="mb-0.5 w-max text-xs text-stone-700 hover:text-stone-800 hover:underline"
              href="/how-to/print-amazon-cart.html"
              >How to Print Amazon Cart</a
            >
          </div>
        </div>
      </div>
    </footer>
    <script>
      const { createApp, ref, computed, useTemplateRef, watch } = Vue;

      createApp({
        setup() {
          const newProduct = ref("");
          const newQuantity = ref("1");
          const errorMessage = ref(null);
          const copiedLink = ref(false);
          const cart = ref({
            locale: null,
            type: "Main",
            products: [],
          });
          const shareLink = computed(() => {
            return cart.value.products.length > 0 ? generateShareLink() : "-";
          });
          const totalQuantity = computed(() => {
            return cart.value.products.reduce(
              (accumulator, currentValue) =>
                accumulator + currentValue.quantity,
              0
            );
          });
          const link = useTemplateRef("link");
          const localMarkets = {
            Fresh: "QW1hem9uIEZyZXNo",
            WF: "VUZHIFdob2xlIEZvb2Rz",
          };

          const validateURL = () => {
            try {
              const item = new URL(newProduct.value);
              // wrong url
              if (!item.host.includes("amazon")) {
                errorMessage.value = "Enter an Amazon item link";
                return false;
              }
              // not a product
              if (!extractASIN(item.pathname)) {
                errorMessage.value = "Enter an Amazon item link";
                return false;
              }
              // mismatching locale
              if (
                cart.value.products.length > 0 &&
                item.origin != cart.value.locale
              ) {
                errorMessage.value = "Amazon link different country";
                return false;
              }
              return true;
            } catch (e) {
              errorMessage.value = "Enter a valid URL";
              return false;
            }
          };

          const extractASIN = (pathname) => {
            const parts = pathname.split("/");
            for (part of parts) {
              if (part.length == 10) {
                return part;
              }
            }
            return false;
          };

          const productURL = (index) => {
            return `${new URL(
              cart.value.products[index].url
            )}?AssociateTag=sharecarts0c-20`;
          };

          const generateShareLink = () => {
            let cartItems = "";
            for (let i = 0, j = 1; i < cart.value.products.length; i++) {
              let item = cart.value.products[i].ASIN;
              let qty = cart.value.products[i].quantity;
              const counter = Math.floor(qty / 10);
              const remainder = qty % 10;
              // quantity under 10
              if (counter === 0) {
                cartItems += `ASIN.${j}=${item}&Quantity.${j}=${qty}&`;
                j += 1;
              } else {
                for (let q = 1; q <= counter; q++) {
                  cartItems += `ASIN.${j}=${item}&Quantity.${j}=10&`;
                  j += 1;
                }
                if (remainder !== 0) {
                  cartItems += `ASIN.${j}=${item}&Quantity.${j}=${remainder}&`;
                  j += 1;
                }
              }
            }

            let amz;
            switch (cart.value.type) {
              case "Main":
                amz = `${cart.value.locale}/gp/aws/cart/add.html?${cartItems}`;
                break;
              case "Fresh":
                amz = `${cart.value.locale}/${
                  localMarkets[cart.value.type]
                }?${cartItems}`;
                break;
              case "WF":
                amz = `${cart.value.locale}/${
                  localMarkets[cart.value.type]
                }?${cartItems}`;
                break;
            }
            return `https://sharecarts.com/cart.html?u=${encodeURIComponent(
              amz
            )}`;
          };

          const addProduct = () => {
            if (validateURL()) {
              const { origin, pathname } = new URL(newProduct.value);
              cart.value.locale = origin;
              cart.value.products.push({
                url: `${origin}${pathname}`,
                ASIN: extractASIN(pathname),
                quantity: parseInt(newQuantity.value),
              });

              // reset
              newProduct.value = "";
              newQuantity.value = 1;
              errorMessage.value = null;
            }
          };

          const removeProduct = (index) => {
            cart.value.products.splice(index, 1);
          };

          async function copyLink() {
            await navigator.clipboard.writeText(shareLink.value);
            copiedLink.value = true;
            window.getSelection().selectAllChildren(link.value);
            await fetch(
              `https://docs.google.com/forms/d/e/1FAIpQLSdbncGpvCtblwKuDM-vqoWbeXII-ii3QpY1vDs87lGwGnTIvQ/formResponse?usp=pp_url&entry.1125089483=${encodeURIComponent(
                shareLink.value
              )}&entry.644830530=website`
            );
          }

          // on changes, reset some state
          watch(shareLink, (newVal, oldVal) => {
            copiedLink.value = false;
          });

          return {
            newProduct,
            newQuantity,
            errorMessage,
            copiedLink,
            cart,
            shareLink,
            totalQuantity,
            productURL,
            addProduct,
            removeProduct,
            copyLink,
          };
        },
      }).mount("#app");
    </script>
  </body>
</html>
